name: Ballerina HTTP module build

on: [pull_request]

jobs:
  call_workflow:
    name: Run PR Build Workflow
    if: ${{ github.repository_owner == 'ballerina-platform' }}
    uses: ballerina-platform/ballerina-standard-library/.github/workflows/pull-request-build-template.yml@main
